<a href="https://colab.research.google.com/github/GabrielCatanaoan/CPEN-21A-CPE-1-2/blob/main/CATANAOAN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to Python

In [ ]:
#Python Indenttion
if 5>2:
  print("five is greater than two")

five is greater than two

In [ ]:
x=1 #This is a single variable with single value
x,y=1,2 #These are two variables with two differnt variable
print

###Casting

In [5]:
b=int(4)
print(b)
c=float(4)
print(c)
d='Jonel'#this is a type of string
print(d)

4
4.0
Jonel

###Type Function

In [7]:
x=8
y='Johnny'
h= 'Jonnie'
H='yes'
i='papa'
print(type(x))
print(type(y))
print(type(h))
print(type(H))
print(type(i))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

##Case Sensitive

In [12]:
L= ('eating')
l= ('sugar')
M= ('No')
m= ('Fafa')

print(L,l,M,m)

eating sugar No Fafa

###Multiple Variables

In [21]:
x,y,z='may','pulang','kotse'
print(x,y,z)

may pulang kotse

##One Value to Multiple Variables

In [19]:
x=y=z='one_night_only'
print(x)
print(y)
print(z)

one_night_only
one_night_only
one_night_only

##Output Variables

In [22]:
x='amazing'
print('Coding is '    + x)

Coding is amazing

In [24]:
x = 1
y = 2
z =3
print(x+y+z)

6

##Assignment Operators

same as x= x+10

In [99]:
x+=10
print(x)

20

##Comparison Operators

In [39]:
x=1
y=2
print(x==y)
print(x!=y)

False
True

##Logical Operators

In [40]:
x=100
print(x<200 and x>50)

True

In [51]:
x=35                    #become True if one of the statement is true
print(x<30 or x<50)

True

In [52]:
not(x<30 or x<50)      #reverse th result,returns False if the result is true

False

##Identity Operators

In [53]:
x=10
y=20
print(x is y)
print(x is not y)

False
True