<a href="https://colab.research.google.com/github/GabrielCatanaoan/CPEN-21A-CPE-1-2/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##FOR Loop

In [5]:
week=['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [8]:
week=['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']

for x in week:
  print(x)
  if x=='Thursday':
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [10]:
#The break statement
for x in week:
  if x=='Thursday':
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping through String

In [11]:
for x in 'Programming with Python':
  print(x)

P
r
o
g
r
a
m
m
i
n
g

w
i
t
h

P
y
t
h
o
n

In [17]:
i=10
while i<6:
  print(i)
  i-=1

The Range Function

In [18]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

Nested Loops

In [23]:
adjective=['red','big','tasty']
fruits=['apple','banana','cherry']

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While Loop

In [27]:
i=10
while i>6:
  print(i)
  i-=1 #assignment operator for subtraction

10
9
8
7

The break statement

In [30]:
i=10
while i>6:
  print(i)
  if i==8:
    break
  i-=1

10
9
8

Continue Statement

In [37]:
i=10
while i>6:
  i-=1
  if i==8:
    continue
  print(i)

9
7
6

The else statement

In [39]:
i=10
while i>6:
  i-=1
  print(i)
else:
  print('i is no longer greater than 6')

9
8
7
6
i is no longer greater than 6

#Application 1

In [92]:
for x in range(11):       #using FOR loop statement
  print(x)

0
1
2
3
4
5
6
7
8
9
10

In [86]:
x=-1
while x<11:           #using WHILE loop statement
  x+=1
  print(x)
  if x==10:
    break

0
1
2
3
4
5
6
7
8
9
10

Application 2

In [47]:
i=20
while i>3:
  i-=1
  print(i)
  if i==4:
    break

19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4